.brand-name {
    font-family: "Lobster";
}

.bg-landing {
    /* background-color: #eb4634; */
    background: rgb(10,14,135);
    background: linear-gradient(90deg, rgba(10,14,135,1) 2%, rgba(112,16,181,1) 31%, rgba(203,20,158,1) 70%, rgba(252,25,73,1) 98%);
    min-height: 100vh;
}

.btn-red {
    background-color: #eb4634;
    color: #fff;
}

.nav-link {
    text-decoration: none;
}

body {
    font-family:"Montserrat";
}

.img-circle {
    border-radius: 50%
}

.btn-circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.swipe-card {
    width: 350px;
    position: relative;
}

.swipe-card-inner {
    position: absolute;

    top: 0;
    left: 0;
}




.background{
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: -10;
}

.tri-button{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
}

.question_container{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.mb-6 {
    margin-bottom: 80px;
}

.dashboard-button {
    width: 140px;
}

.back-button {
    position: fixed;
    bottom: 70px;
    width: 100%;
    z-index: 100;
}

.footer-space {
    margin-bottom: 200px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
