.brand-name {
    font-family: "Lobster";
}

.bg-landing {
    background-color: #eb4634;
}

.btn-red {
    background-color: #eb4634;
    color: #fff;
}

.nav-link {
    text-decoration: none;
}

body {
    font-family:"Montserrat";
}



